*
	{
		font-family: arial;
	}
html
	{
		margin: 0;
		padding: 0;
	}
body
	{
		margin: 0;	
		background-color: #fff5eb;
	}
a
	{
		text-decoration: none;
	}

.all
	{
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}
.top
	{
		background-color: #fff;
		flex: 0 0 65px;
		padding: 0px 10px 0 10px;
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		border-bottom: 2px solid gray;
	}
.logo
	{
		height:100px; 
	}
.content
	{
	flex:1 1 auto;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	}
footer
	{
		background-color: #996633;
		color: white;
		padding: 7px;
		font-family: arial;
		display: block;
		min-height: 40px;
	}
.footer_row
		{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
.fut
		{
			flex: 1 0 50%;	
			line-height: 1.5;	
		}
.nameF
		{
		font-size: 22px;
		}
.nom
		{
			color: white;
			transition: 0.1s;
		}
.nom:hover
		{
			color: black;
			transition: 0.1s;
		}

.container
	{
		max-width: 55vw;
		justify-content: center;
		align-self: flex-start;
		min-width: 55vw;
	}

/*.nakoplenie_row
	{
		display:flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		
	}*/
/*.nakoplenie_1 
	{
		background-color: #ffffff;
		flex: 1 1 300px;
		align-self:stretch;
		justify-content:center;
		margin: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 4px solid black;
		border-image: linear-gradient(90deg, #F51500, #1E00EB);
		border-image-slice: 1;
		padding-top: 5px;
	}*/

/*.nakoplenie1_png
	{
		display: flex;
		flex:1 1 auto;
		justify-content: center;
	}	
.nakoplenie1_png img
	{
		max-width: 100%;
	}	
.nakoplenie_img
	{
		flex: 0 0 240px;
		
	}
.nakoplenie_img img
	{
		max-width: 100%;
		
	}
*/
.block_name
	{
		font-size: 26px;
		text-align: center;
		color: #3b1d00;
		
	}
.menu_punkt
	{
		font-size: 20px;
		transition: 0.1s;
		color: #663300;
		margin: 1px 0px;
		border: 1px solid #663300;
		width: 18vw;
		border-radius: 3px;
	}
.menu_punkt:hover
	{
		color: black;
		transition: 0.1s;
	}


.left
	{
		display: flex;
		flex-direction: column;
		margin:0px 10px;
		align-self: flex-start;
		width: 19vw;
	}
.menu 
	{
		background:#FFCC99;
		border-radius: 3px;
		width: 100%;
		min-height: 175px;
		margin:10px 0px; 
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		box-shadow: 2px 2px 4px gray;
	}
.pogoda
	{
		background-color: #fff5eb;
		width: 97%;
		min-height: auto;
		margin:10px 0px;
		border-radius: 3px;
		
	}

.osnova
	{
		background:#ffe8d1;
		width: 99%;
		height: auto; 
		align-self: flex-start;
		margin:10px 0px;
		padding: 3px;
		box-shadow: 2px 2px 4px gray;
		display: flex;	
		flex-direction: column;
		align-items: center;
	}
.name
	{
		text-align: center;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 30px;
		color: #3b1d00;
		margin: 20px 0px; 
	}
.text
	{
		font-size: 14pt;
		color: #663300;
		margin: 3px;
		text-indent: 35px;
	}
.karta
	{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
.karta_karta
	{
		width: 90%;
		height: 500px;
		
	}


.uslugi
	{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
		
	}
.uslugi_mini
	{
		min-width: 140px;
		min-height: 55px;
		max-width: 130px;
		display: flex;
		flex-direction: column;
		margin: 5px 5px;
		background-color: #ffe8d1;
		border:solid 2px #663300;
		box-shadow: 2px 2px 4px gray;
		border-radius: 3px;
		padding: 2px
	}



.right
	{
		display: flex;
		flex-direction: column;
		margin: 0px 10px;
		width: 19vw;
		align-self: flex-start;
	}
.vhod
	{
		background:#FFCC99;
		width: 100%;
		min-height: 200px; 
		margin:10px 0px;
		display: flex;	
		flex-direction: column;
		align-items: center;	
		box-shadow: 2px 2px 4px gray;		
	}
.vhod_punkt
	{
		font-size: 20px;
		color: #663300;
		margin: 1px 0px;
		width: 18vw;
	}
.pole_vvoda
	{
		width: 18vw;
		height:30px;
		font-size: 16pt;
		background-color: #ffe8d1;
		border:solid 2px #663300;
		outline: none; 
		border-radius: 3px;
	}
.knopka
	{
		background-color: #ffe8d1;
		font-size: 16pt;
		border:solid 2px #663300;
		color: #663300;
		margin-top: 4px;
		border-radius: 3px;
	}
.knopka:hover
	{
		background-color: #fff1e3;
		font-size: 16pt;
		border:solid 2px black;
		color: black;
		margin-top: 4px;

	}
.form
	{		
		width: 18vw;
		border-radius:3px;
		margin-top:20;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
.novosti
	{
		background:#FFCC99;
		width: 100%;
		min-height: 400px; 
		margin:10px 0px;
		box-shadow: 2px 2px 4px gray;
		overflow-y: scroll;
		height: 500px
	}
.new
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px;
		text-align: left;
		word-wrap: break-word;
		text-indent: 20px;
		font-size: 14pt;
		border:solid 2px #663300;
		padding: 3px;
	}
.reklama
	{
		background:#FFCC99;
		width: 100%;
		min-height: 200px; 
		margin:10px 0px;
		box-shadow: 2px 2px 4px gray;
	}
#pic1
	{
		width: 100%
	}
#pic2
	{
		width: 100%
	}
.width10
	{
		width: 100%
	}
@media screen and (max-width: 950px)
	{
		.content
			{
				flex-wrap: wrap;
				flex-direction: column;
				min-width: 80vw;
				max-width: 95vw;
				
				
			}
		.left
			{
				align-self: center;
				margin: 0px 0px;
				width: 100%;
				align-items: center;
			}
		.right
			{
				align-self: center;
				margin: 0px 0px;
				width: 100%;
				align-items: center;
			}
		.container
			{
				width: 100%;
				align-self: center;
				max-width: 100%;
			}
		.menu_punkt
			{
				min-width: 90%;
			}
		.form
			{
				width: 90%;
				align-items: center;
				display: flex;
				flex-direction: column;

			}
		.pole_vvoda
			{
				min-width: 90%;
			}
		.vhod_punkt
			{
				min-width: 90%;
			}

	}
